/* File: automatic-variables.css - Version: 2.6.2 - Generated: 2023-09-13 02:44:02 */
:root {
  --action: #E56C70;
  --action-hover: #ed9799;
  --action-ultra-light: #fbe9ea;
  --action-light: #f4bec0;
  --action-medium: #d9262c;
  --action-dark: #6c1316;
  --action-ultra-dark: #2b0809;
  --action-comp: #6ce5e1;
  --action-trans-10: rgba(229, 108, 112, 0.1);
  --action-trans-20: rgba(229, 108, 112, 0.2);
  --action-trans-30: rgba(229, 108, 112, 0.3);
  --action-trans-40: rgba(229, 108, 112, 0.4);
  --action-trans-50: rgba(229, 108, 112, 0.5);
  --action-trans-60: rgba(229, 108, 112, 0.6);
  --action-trans-70: rgba(229, 108, 112, 0.7);
  --action-trans-80: rgba(229, 108, 112, 0.8);
  --action-trans-90: rgba(229, 108, 112, 0.9);
  --action-light-trans-10: rgba(244, 190, 192, 0.1);
  --action-light-trans-20: rgba(244, 190, 192, 0.2);
  --action-light-trans-30: rgba(244, 190, 192, 0.3);
  --action-light-trans-40: rgba(244, 190, 192, 0.4);
  --action-light-trans-50: rgba(244, 190, 192, 0.5);
  --action-light-trans-60: rgba(244, 190, 192, 0.6);
  --action-light-trans-70: rgba(244, 190, 192, 0.7);
  --action-light-trans-80: rgba(244, 190, 192, 0.8);
  --action-light-trans-90: rgba(244, 190, 192, 0.9);
  --action-dark-trans-10: rgba(108, 19, 22, 0.1);
  --action-dark-trans-20: rgba(108, 19, 22, 0.2);
  --action-dark-trans-30: rgba(108, 19, 22, 0.3);
  --action-dark-trans-40: rgba(108, 19, 22, 0.4);
  --action-dark-trans-50: rgba(108, 19, 22, 0.5);
  --action-dark-trans-60: rgba(108, 19, 22, 0.6);
  --action-dark-trans-70: rgba(108, 19, 22, 0.7);
  --action-dark-trans-80: rgba(108, 19, 22, 0.8);
  --action-dark-trans-90: rgba(108, 19, 22, 0.9);
  --action-ultra-dark-trans-10: rgba(43, 8, 9, 0.1);
  --action-ultra-dark-trans-20: rgba(43, 8, 9, 0.2);
  --action-ultra-dark-trans-30: rgba(43, 8, 9, 0.3);
  --action-ultra-dark-trans-40: rgba(43, 8, 9, 0.4);
  --action-ultra-dark-trans-50: rgba(43, 8, 9, 0.5);
  --action-ultra-dark-trans-60: rgba(43, 8, 9, 0.6);
  --action-ultra-dark-trans-70: rgba(43, 8, 9, 0.7);
  --action-ultra-dark-trans-80: rgba(43, 8, 9, 0.8);
  --action-ultra-dark-trans-90: rgba(43, 8, 9, 0.9);
  --action-hex: #E56C70;
  --action-hsl: 358 70% 66%;
  --action-rgb: 229 108 112;
  --action-r: 229;
  --action-g: 108;
  --action-b: 112;
  --action-h: 358;
  --action-s: 70%;
  --action-l: 66%;
  --action-hover-h: 358;
  --action-hover-s: 70%;
  --action-hover-l: 1.15;
  --action-ultra-light-h: 358;
  --action-ultra-light-s: 70%;
  --action-ultra-light-l: 95%;
  --action-light-h: 358;
  --action-light-s: 70%;
  --action-light-l: 85%;
  --action-medium-h: 358;
  --action-medium-s: 70%;
  --action-medium-l: 50%;
  --action-dark-h: 358;
  --action-dark-s: 70%;
  --action-dark-l: 25%;
  --action-ultra-dark-h: 358;
  --action-ultra-dark-s: 70%;
  --action-ultra-dark-l: 10%;
  --action-comp-h: 538;
  --primary: #E56C70;
  --primary-hover: #ed9799;
  --primary-ultra-light: #fbe9ea;
  --primary-light: #f4bec0;
  --primary-medium: #d9262c;
  --primary-dark: #6c1316;
  --primary-ultra-dark: #2b0809;
  --primary-comp: #6ce5e1;
  --primary-trans-10: rgba(229, 108, 112, 0.1);
  --primary-trans-20: rgba(229, 108, 112, 0.2);
  --primary-trans-30: rgba(229, 108, 112, 0.3);
  --primary-trans-40: rgba(229, 108, 112, 0.4);
  --primary-trans-50: rgba(229, 108, 112, 0.5);
  --primary-trans-60: rgba(229, 108, 112, 0.6);
  --primary-trans-70: rgba(229, 108, 112, 0.7);
  --primary-trans-80: rgba(229, 108, 112, 0.8);
  --primary-trans-90: rgba(229, 108, 112, 0.9);
  --primary-light-trans-10: rgba(244, 190, 192, 0.1);
  --primary-light-trans-20: rgba(244, 190, 192, 0.2);
  --primary-light-trans-30: rgba(244, 190, 192, 0.3);
  --primary-light-trans-40: rgba(244, 190, 192, 0.4);
  --primary-light-trans-50: rgba(244, 190, 192, 0.5);
  --primary-light-trans-60: rgba(244, 190, 192, 0.6);
  --primary-light-trans-70: rgba(244, 190, 192, 0.7);
  --primary-light-trans-80: rgba(244, 190, 192, 0.8);
  --primary-light-trans-90: rgba(244, 190, 192, 0.9);
  --primary-dark-trans-10: rgba(108, 19, 22, 0.1);
  --primary-dark-trans-20: rgba(108, 19, 22, 0.2);
  --primary-dark-trans-30: rgba(108, 19, 22, 0.3);
  --primary-dark-trans-40: rgba(108, 19, 22, 0.4);
  --primary-dark-trans-50: rgba(108, 19, 22, 0.5);
  --primary-dark-trans-60: rgba(108, 19, 22, 0.6);
  --primary-dark-trans-70: rgba(108, 19, 22, 0.7);
  --primary-dark-trans-80: rgba(108, 19, 22, 0.8);
  --primary-dark-trans-90: rgba(108, 19, 22, 0.9);
  --primary-ultra-dark-trans-10: rgba(43, 8, 9, 0.1);
  --primary-ultra-dark-trans-20: rgba(43, 8, 9, 0.2);
  --primary-ultra-dark-trans-30: rgba(43, 8, 9, 0.3);
  --primary-ultra-dark-trans-40: rgba(43, 8, 9, 0.4);
  --primary-ultra-dark-trans-50: rgba(43, 8, 9, 0.5);
  --primary-ultra-dark-trans-60: rgba(43, 8, 9, 0.6);
  --primary-ultra-dark-trans-70: rgba(43, 8, 9, 0.7);
  --primary-ultra-dark-trans-80: rgba(43, 8, 9, 0.8);
  --primary-ultra-dark-trans-90: rgba(43, 8, 9, 0.9);
  --primary-hex: #E56C70;
  --primary-hsl: 358 70% 66%;
  --primary-rgb: 229 108 112;
  --primary-r: 229;
  --primary-g: 108;
  --primary-b: 112;
  --primary-h: 358;
  --primary-s: 70%;
  --primary-l: 66%;
  --primary-hover-h: 358;
  --primary-hover-s: 70%;
  --primary-hover-l: 1.15;
  --primary-ultra-light-h: 358;
  --primary-ultra-light-s: 70%;
  --primary-ultra-light-l: 95%;
  --primary-light-h: 358;
  --primary-light-s: 70%;
  --primary-light-l: 85%;
  --primary-medium-h: 358;
  --primary-medium-s: 70%;
  --primary-medium-l: 50%;
  --primary-dark-h: 358;
  --primary-dark-s: 70%;
  --primary-dark-l: 25%;
  --primary-ultra-dark-h: 358;
  --primary-ultra-dark-s: 70%;
  --primary-ultra-dark-l: 10%;
  --primary-comp-h: 538;
  --secondary: #6C5879;
  --secondary-hover: #7c658b;
  --secondary-ultra-light: #f3f0f4;
  --secondary-light: #dad3df;
  --secondary-medium: #846b94;
  --secondary-dark: #42364a;
  --secondary-ultra-dark: #1a151e;
  --secondary-comp: #657958;
  --secondary-trans-10: rgba(108, 88, 121, 0.1);
  --secondary-trans-20: rgba(108, 88, 121, 0.2);
  --secondary-trans-30: rgba(108, 88, 121, 0.3);
  --secondary-trans-40: rgba(108, 88, 121, 0.4);
  --secondary-trans-50: rgba(108, 88, 121, 0.5);
  --secondary-trans-60: rgba(108, 88, 121, 0.6);
  --secondary-trans-70: rgba(108, 88, 121, 0.7);
  --secondary-trans-80: rgba(108, 88, 121, 0.8);
  --secondary-trans-90: rgba(108, 88, 121, 0.9);
  --secondary-light-trans-10: rgba(218, 211, 223, 0.1);
  --secondary-light-trans-20: rgba(218, 211, 223, 0.2);
  --secondary-light-trans-30: rgba(218, 211, 223, 0.3);
  --secondary-light-trans-40: rgba(218, 211, 223, 0.4);
  --secondary-light-trans-50: rgba(218, 211, 223, 0.5);
  --secondary-light-trans-60: rgba(218, 211, 223, 0.6);
  --secondary-light-trans-70: rgba(218, 211, 223, 0.7);
  --secondary-light-trans-80: rgba(218, 211, 223, 0.8);
  --secondary-light-trans-90: rgba(218, 211, 223, 0.9);
  --secondary-dark-trans-10: rgba(66, 54, 74, 0.1);
  --secondary-dark-trans-20: rgba(66, 54, 74, 0.2);
  --secondary-dark-trans-30: rgba(66, 54, 74, 0.3);
  --secondary-dark-trans-40: rgba(66, 54, 74, 0.4);
  --secondary-dark-trans-50: rgba(66, 54, 74, 0.5);
  --secondary-dark-trans-60: rgba(66, 54, 74, 0.6);
  --secondary-dark-trans-70: rgba(66, 54, 74, 0.7);
  --secondary-dark-trans-80: rgba(66, 54, 74, 0.8);
  --secondary-dark-trans-90: rgba(66, 54, 74, 0.9);
  --secondary-ultra-dark-trans-10: rgba(26, 21, 30, 0.1);
  --secondary-ultra-dark-trans-20: rgba(26, 21, 30, 0.2);
  --secondary-ultra-dark-trans-30: rgba(26, 21, 30, 0.3);
  --secondary-ultra-dark-trans-40: rgba(26, 21, 30, 0.4);
  --secondary-ultra-dark-trans-50: rgba(26, 21, 30, 0.5);
  --secondary-ultra-dark-trans-60: rgba(26, 21, 30, 0.6);
  --secondary-ultra-dark-trans-70: rgba(26, 21, 30, 0.7);
  --secondary-ultra-dark-trans-80: rgba(26, 21, 30, 0.8);
  --secondary-ultra-dark-trans-90: rgba(26, 21, 30, 0.9);
  --secondary-hex: #6C5879;
  --secondary-hsl: 276 16% 41%;
  --secondary-rgb: 108 88 121;
  --secondary-r: 108;
  --secondary-g: 88;
  --secondary-b: 121;
  --secondary-h: 276;
  --secondary-s: 16%;
  --secondary-l: 41%;
  --secondary-hover-h: 276;
  --secondary-hover-s: 16%;
  --secondary-hover-l: 1.15;
  --secondary-ultra-light-h: 276;
  --secondary-ultra-light-s: 16%;
  --secondary-ultra-light-l: 95%;
  --secondary-light-h: 276;
  --secondary-light-s: 16%;
  --secondary-light-l: 85%;
  --secondary-medium-h: 276;
  --secondary-medium-s: 16%;
  --secondary-medium-l: 50%;
  --secondary-dark-h: 276;
  --secondary-dark-s: 16%;
  --secondary-dark-l: 25%;
  --secondary-ultra-dark-h: 276;
  --secondary-ultra-dark-s: 16%;
  --secondary-ultra-dark-l: 10%;
  --secondary-comp-h: 456;
  --accent: #EAAC8B;
  --accent-hover: #f2ceba;
  --accent-ultra-light: #fbf0e9;
  --accent-light: #f3d1be;
  --accent-medium: #d76528;
  --accent-dark: #6c3314;
  --accent-ultra-dark: #2b1408;
  --accent-comp: #8bc8ea;
  --accent-trans-10: rgba(234, 172, 139, 0.1);
  --accent-trans-20: rgba(234, 172, 139, 0.2);
  --accent-trans-30: rgba(234, 172, 139, 0.3);
  --accent-trans-40: rgba(234, 172, 139, 0.4);
  --accent-trans-50: rgba(234, 172, 139, 0.5);
  --accent-trans-60: rgba(234, 172, 139, 0.6);
  --accent-trans-70: rgba(234, 172, 139, 0.7);
  --accent-trans-80: rgba(234, 172, 139, 0.8);
  --accent-trans-90: rgba(234, 172, 139, 0.9);
  --accent-light-trans-10: rgba(243, 209, 190, 0.1);
  --accent-light-trans-20: rgba(243, 209, 190, 0.2);
  --accent-light-trans-30: rgba(243, 209, 190, 0.3);
  --accent-light-trans-40: rgba(243, 209, 190, 0.4);
  --accent-light-trans-50: rgba(243, 209, 190, 0.5);
  --accent-light-trans-60: rgba(243, 209, 190, 0.6);
  --accent-light-trans-70: rgba(243, 209, 190, 0.7);
  --accent-light-trans-80: rgba(243, 209, 190, 0.8);
  --accent-light-trans-90: rgba(243, 209, 190, 0.9);
  --accent-dark-trans-10: rgba(108, 51, 20, 0.1);
  --accent-dark-trans-20: rgba(108, 51, 20, 0.2);
  --accent-dark-trans-30: rgba(108, 51, 20, 0.3);
  --accent-dark-trans-40: rgba(108, 51, 20, 0.4);
  --accent-dark-trans-50: rgba(108, 51, 20, 0.5);
  --accent-dark-trans-60: rgba(108, 51, 20, 0.6);
  --accent-dark-trans-70: rgba(108, 51, 20, 0.7);
  --accent-dark-trans-80: rgba(108, 51, 20, 0.8);
  --accent-dark-trans-90: rgba(108, 51, 20, 0.9);
  --accent-ultra-dark-trans-10: rgba(43, 20, 8, 0.1);
  --accent-ultra-dark-trans-20: rgba(43, 20, 8, 0.2);
  --accent-ultra-dark-trans-30: rgba(43, 20, 8, 0.3);
  --accent-ultra-dark-trans-40: rgba(43, 20, 8, 0.4);
  --accent-ultra-dark-trans-50: rgba(43, 20, 8, 0.5);
  --accent-ultra-dark-trans-60: rgba(43, 20, 8, 0.6);
  --accent-ultra-dark-trans-70: rgba(43, 20, 8, 0.7);
  --accent-ultra-dark-trans-80: rgba(43, 20, 8, 0.8);
  --accent-ultra-dark-trans-90: rgba(43, 20, 8, 0.9);
  --accent-hex: #EAAC8B;
  --accent-hsl: 21 69% 73%;
  --accent-rgb: 234 172 139;
  --accent-r: 234;
  --accent-g: 172;
  --accent-b: 139;
  --accent-h: 21;
  --accent-s: 69%;
  --accent-l: 73%;
  --accent-hover-h: 21;
  --accent-hover-s: 69%;
  --accent-hover-l: 1.15;
  --accent-ultra-light-h: 21;
  --accent-ultra-light-s: 69%;
  --accent-ultra-light-l: 95%;
  --accent-light-h: 21;
  --accent-light-s: 69%;
  --accent-light-l: 85%;
  --accent-medium-h: 21;
  --accent-medium-s: 69%;
  --accent-medium-l: 50%;
  --accent-dark-h: 21;
  --accent-dark-s: 69%;
  --accent-dark-l: 25%;
  --accent-ultra-dark-h: 21;
  --accent-ultra-dark-s: 69%;
  --accent-ultra-dark-l: 10%;
  --accent-comp-h: 201;
  --base: #344F6F;
  --base-hover: #3c5a80;
  --base-ultra-light: #eef2f7;
  --base-light: #cbd7e7;
  --base-medium: #527bad;
  --base-dark: #293d57;
  --base-ultra-dark: #101923;
  --base-comp: #6f5534;
  --base-trans-10: rgba(52, 79, 111, 0.1);
  --base-trans-20: rgba(52, 79, 111, 0.2);
  --base-trans-30: rgba(52, 79, 111, 0.3);
  --base-trans-40: rgba(52, 79, 111, 0.4);
  --base-trans-50: rgba(52, 79, 111, 0.5);
  --base-trans-60: rgba(52, 79, 111, 0.6);
  --base-trans-70: rgba(52, 79, 111, 0.7);
  --base-trans-80: rgba(52, 79, 111, 0.8);
  --base-trans-90: rgba(52, 79, 111, 0.9);
  --base-light-trans-10: rgba(203, 215, 231, 0.1);
  --base-light-trans-20: rgba(203, 215, 231, 0.2);
  --base-light-trans-30: rgba(203, 215, 231, 0.3);
  --base-light-trans-40: rgba(203, 215, 231, 0.4);
  --base-light-trans-50: rgba(203, 215, 231, 0.5);
  --base-light-trans-60: rgba(203, 215, 231, 0.6);
  --base-light-trans-70: rgba(203, 215, 231, 0.7);
  --base-light-trans-80: rgba(203, 215, 231, 0.8);
  --base-light-trans-90: rgba(203, 215, 231, 0.9);
  --base-dark-trans-10: rgba(41, 61, 87, 0.1);
  --base-dark-trans-20: rgba(41, 61, 87, 0.2);
  --base-dark-trans-30: rgba(41, 61, 87, 0.3);
  --base-dark-trans-40: rgba(41, 61, 87, 0.4);
  --base-dark-trans-50: rgba(41, 61, 87, 0.5);
  --base-dark-trans-60: rgba(41, 61, 87, 0.6);
  --base-dark-trans-70: rgba(41, 61, 87, 0.7);
  --base-dark-trans-80: rgba(41, 61, 87, 0.8);
  --base-dark-trans-90: rgba(41, 61, 87, 0.9);
  --base-ultra-dark-trans-10: rgba(16, 25, 35, 0.1);
  --base-ultra-dark-trans-20: rgba(16, 25, 35, 0.2);
  --base-ultra-dark-trans-30: rgba(16, 25, 35, 0.3);
  --base-ultra-dark-trans-40: rgba(16, 25, 35, 0.4);
  --base-ultra-dark-trans-50: rgba(16, 25, 35, 0.5);
  --base-ultra-dark-trans-60: rgba(16, 25, 35, 0.6);
  --base-ultra-dark-trans-70: rgba(16, 25, 35, 0.7);
  --base-ultra-dark-trans-80: rgba(16, 25, 35, 0.8);
  --base-ultra-dark-trans-90: rgba(16, 25, 35, 0.9);
  --base-hex: #344F6F;
  --base-hsl: 213 36% 32%;
  --base-rgb: 52 79 111;
  --base-r: 52;
  --base-g: 79;
  --base-b: 111;
  --base-h: 213;
  --base-s: 36%;
  --base-l: 32%;
  --base-hover-h: 213;
  --base-hover-s: 36%;
  --base-hover-l: 1.15;
  --base-ultra-light-h: 213;
  --base-ultra-light-s: 36%;
  --base-ultra-light-l: 95%;
  --base-light-h: 213;
  --base-light-s: 36%;
  --base-light-l: 85%;
  --base-medium-h: 213;
  --base-medium-s: 36%;
  --base-medium-l: 50%;
  --base-dark-h: 213;
  --base-dark-s: 36%;
  --base-dark-l: 25%;
  --base-ultra-dark-h: 213;
  --base-ultra-dark-s: 36%;
  --base-ultra-dark-l: 10%;
  --base-comp-h: 393;
  --shade: #000000;
  --shade-hover: black;
  --shade-ultra-light: #f2f2f2;
  --shade-light: #d9d9d9;
  --shade-medium: gray;
  --shade-dark: #404040;
  --shade-ultra-dark: #1a1a1a;
  --shade-comp: black;
  --shade-trans-10: rgba(0, 0, 0, 0.1);
  --shade-trans-20: rgba(0, 0, 0, 0.2);
  --shade-trans-30: rgba(0, 0, 0, 0.3);
  --shade-trans-40: rgba(0, 0, 0, 0.4);
  --shade-trans-50: rgba(0, 0, 0, 0.5);
  --shade-trans-60: rgba(0, 0, 0, 0.6);
  --shade-trans-70: rgba(0, 0, 0, 0.7);
  --shade-trans-80: rgba(0, 0, 0, 0.8);
  --shade-trans-90: rgba(0, 0, 0, 0.9);
  --shade-light-trans-10: rgba(217, 217, 217, 0.1);
  --shade-light-trans-20: rgba(217, 217, 217, 0.2);
  --shade-light-trans-30: rgba(217, 217, 217, 0.3);
  --shade-light-trans-40: rgba(217, 217, 217, 0.4);
  --shade-light-trans-50: rgba(217, 217, 217, 0.5);
  --shade-light-trans-60: rgba(217, 217, 217, 0.6);
  --shade-light-trans-70: rgba(217, 217, 217, 0.7);
  --shade-light-trans-80: rgba(217, 217, 217, 0.8);
  --shade-light-trans-90: rgba(217, 217, 217, 0.9);
  --shade-dark-trans-10: rgba(64, 64, 64, 0.1);
  --shade-dark-trans-20: rgba(64, 64, 64, 0.2);
  --shade-dark-trans-30: rgba(64, 64, 64, 0.3);
  --shade-dark-trans-40: rgba(64, 64, 64, 0.4);
  --shade-dark-trans-50: rgba(64, 64, 64, 0.5);
  --shade-dark-trans-60: rgba(64, 64, 64, 0.6);
  --shade-dark-trans-70: rgba(64, 64, 64, 0.7);
  --shade-dark-trans-80: rgba(64, 64, 64, 0.8);
  --shade-dark-trans-90: rgba(64, 64, 64, 0.9);
  --shade-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --shade-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --shade-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --shade-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --shade-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --shade-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --shade-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --shade-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --shade-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --shade-hex: #000000;
  --shade-hsl: 0 0% 0%;
  --shade-rgb: 0 0 0;
  --shade-r: 0;
  --shade-g: 0;
  --shade-b: 0;
  --shade-h: 0;
  --shade-s: 0%;
  --shade-l: 0%;
  --shade-hover-h: 0;
  --shade-hover-s: 0%;
  --shade-hover-l: 1.15;
  --shade-ultra-light-h: 0;
  --shade-ultra-light-s: 0%;
  --shade-ultra-light-l: 95%;
  --shade-light-h: 0;
  --shade-light-s: 0%;
  --shade-light-l: 85%;
  --shade-medium-h: 0;
  --shade-medium-s: 0%;
  --shade-medium-l: 50%;
  --shade-dark-h: 0;
  --shade-dark-s: 0%;
  --shade-dark-l: 25%;
  --shade-ultra-dark-h: 0;
  --shade-ultra-dark-s: 0%;
  --shade-ultra-dark-l: 10%;
  --shade-comp-h: 180;
  --white: #fff;
  --black: #000;
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-30: rgba(0, 0, 0, 0.3);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-70: rgba(0, 0, 0, 0.7);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-30: rgba(255, 255, 255, 0.3);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-50: rgba(255, 255, 255, 0.5);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-70: rgba(255, 255, 255, 0.7);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --white: #fff;
  --black: #000;
  --success: #29A745;
  --success-light: #c1f0cc;
  --success-dark: #0f3e19;
  --success-hover: #2fc24f;
  --danger: #29A745;
  --danger-light: #c1f0cc;
  --danger-dark: #0f3e19;
  --danger-hover: #2fc24f;
  --warning: #29A745;
  --warning-light: #c1f0cc;
  --warning-dark: #0f3e19;
  --warning-hover: #2fc24f;
  --info: #29A745;
  --info-light: #c1f0cc;
  --info-dark: #0f3e19;
  --info-hover: #2fc24f;
  --text-xs: 1.3rem;
  --text-s: 1.4rem;
  --text-m: 1.8rem;
  --text-l: 2rem;
  --text-xl: 2.3rem;
  --text-xxl: 2.6rem;
  --root-font-size: 62.5%;
  --h6: 1.3rem;
  --h5: 1.4rem;
  --h4: 1.8rem;
  --h3: 2rem;
  --h2: 2.3rem;
  --h1: 2.6rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --width-xs: calc((128 * 0.1) * 1rem);
  --width-s: calc((128 * 0.2) * 1rem);
  --width-m: calc((128 * 0.4) * 1rem);
  --width-l: calc((128 * 0.6) * 1rem);
  --width-xl: calc((128 * 0.8) * 1rem);
  --width-xxl: calc((128 * 0.9) * 1rem);
  --width-vp-max: 128rem;
  --width-content: 128rem;
  --width-50: calc((128 / 2) * 1rem);
  --width-full: 100%;
  --content-width: var(--width-content);
  --content-width-safe: min(var(--width-content), calc(100% - var(--section-padding-x) * 2));
  --radius-xs: 0.4444444444rem;
  --radius-s: 0.6666666667rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2.25rem;
  --radius-xxl: 3.375rem;
  --radius-50: 50%;
  --radius-circle: 50%;
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);
  --grid-auto-2: repeat(auto-fit, minmax(min(40.8026755853rem, 100vw - 6rem), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(24.4488977956rem, 100vw - 6rem), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(20.367278798rem, 100vw - 6rem), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(17.4535050072rem, 100vw - 6rem), 1fr));
  --content-gap: var(--space-m);
  --fr-content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --fr-container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
  --fr-grid-gap: var(--space-m);
  --section-padding-x: 2.4rem;
  --section-gutter: 2.4rem;
  --btn-border-size: 0.25rem;
  --outline-btn-border-size: 0.25rem;
  --btn-pad-y: 0.75em;
  --btn-pad-x: 1.5em;
  --btn-radius: 0;
  --btn-text-transform: none;
  --btn-text-style: normal;
  --btn-letter-spacing: 0;
  --btn-line-height: 1;
  --btn-text-decoration: none;
  --btn-text-color: var(--action-ultra-light);
  --btn-hover-text-color: var(--action-ultra-light);
  --btn-weight: 400;
  --btn-width: 20rem;
  --success-hex: #29A745;
  --success-rgb: 41 167 69;
  --success-hsl: 133 61% 41%;
  --success-h: 133;
  --success-s: 61%;
  --success-l: 41%;
  --success-r: 41;
  --success-g: 167;
  --success-b: 69;
  --danger-hex: #29A745;
  --danger-rgb: 41 167 69;
  --danger-hsl: 133 61% 41%;
  --danger-h: 133;
  --danger-s: 61%;
  --danger-l: 41%;
  --danger-r: 41;
  --danger-g: 167;
  --danger-b: 69;
  --warning-hex: #29A745;
  --warning-rgb: 41 167 69;
  --warning-hsl: 133 61% 41%;
  --warning-h: 133;
  --warning-s: 61%;
  --warning-l: 41%;
  --warning-r: 41;
  --warning-g: 167;
  --warning-b: 69;
  --info-hex: #29A745;
  --info-rgb: 41 167 69;
  --info-hsl: 133 61% 41%;
  --info-h: 133;
  --info-s: 61%;
  --info-l: 41%;
  --info-r: 41;
  --info-g: 167;
  --info-b: 69;
  --header-height: 0rem;
  --offset: 0rem;
  --paragraph-spacing: 1em;
  --heading-spacing: 1.5em;
  --focus-color: var(--action);
  --focus-width: 0.2rem;
  --focus-offset: 0.25em;
  --h1-lh: 1.2;
  --h2-lh: 1.2;
  --h3-lh: 1.2;
  --h4-lh: 1.2;
  --h5-lh: 1.2;
  --h6-lh: 1.2;
  --h1-length: 100%;
  --h2-length: 100%;
  --h3-length: 100%;
  --h4-length: 100%;
  --h5-length: 100%;
  --h6-length: 100%;
  --text-xxl-lh: 1.5;
  --text-xl-lh: 1.5;
  --text-l-lh: 1.5;
  --text-m-lh: 1.5;
  --text-s-lh: 1.5;
  --text-xs-lh: 1.5;
  --text-xxl-length: 100%;
  --text-xl-length: 100%;
  --text-l-length: 100%;
  --text-m-length: 100%;
  --text-s-length: 100%;
  --text-xs-length: 100%;
  --box-shadow-m: 0 4px 4px -10px rgba(0, 0, 0, 0.04), 0 13px 13px -10px rgba(0, 0, 0, 0.06), 0 40px 60px -10px rgba(0, 0, 0, 0.08);
  --box-shadow-l: 0 2.7px 3.6px -5px rgba(0, 0, 0, 0.04), 0 7.5px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24.1px -5px rgba(0, 0, 0, 0.08), 0 60px 80px -5px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -5px rgba(0, 0, 0, 0.04), 0 12.5px 10px -5px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -5px rgba(0, 0, 0, 0.08), 0 41.8px 33.4px -5px rgba(0, 0, 0, 0.1), 0 80px 80px -5px rgba(0, 0, 0, 0.105);
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
}
@media (max-width: 991px) {
  :root {
    --header-height: 0rem;
    --header-height-l: 0rem;
    --offset-l: 0rem;
  }
}
@media (max-width: 767px) {
  :root {
    --header-height: 0rem;
    --header-height-m: 0rem;
    --offset-m: 0rem;
  }
}
@media (max-width: 479px) {
  :root {
    --header-height: 0rem;
    --header-height-s: 0rem;
    --offset-s: 0rem;
  }
}
